/*
# @Author: Nick Horn
# @Date: 19-11-2025 
# @Last Modified: 19-11-2025 
# @Description: Css for Analog Clock
# @This video has helped me: https://www.youtube.com/watch?v=qBEBSD7rwuo
*/

/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the clock on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(96, 101, 203), white);
}

/* Main clock container */
.clock {
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 50%;
    background-color: white;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Center dot of the clock */
.clock::after {
    content: ' ';
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10;
}

/* Base style for all hands */
.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translatex(-50%) rotate(0deg);
    background-color: black;
    border-radius: 10px;
}

/* Hour hand style */
.hour-hand {
    width: 8px;
    height: 70px;
    background-color: black;
    z-index: 3;
}

/* Minute hand style */
.min-hand {
    width: 4px;
    height: 100px;
    background-color: #666;
    z-index: 2;
}

/* Second hand style */
.second-hand {
    width: 2px;
    height: 120px;
    background-color: red;
    z-index: 1;
}
